<?xml version='1.0' encoding='utf-8'?>
<plugin id="lijie" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>myplugin</name><js-module name="myplugin" src="www/myplugin.js"><clobbers target="cordova.plugins.myplugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="myplugin"><param name="ios-package" value="myplugin" /></feature></config-file><source-file src="src/ios/myplugin.m" /></platform></plugin>